<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">终端详情</h1>
    </div>
    <!-- /.col-lg-12 -->
    <div class="col-md-12 column device-list">
        <div style="margin-top:15px;width:49%;height:400px;border-right:1px solid #cccccc;float:left">
            <p>终端编号：<%= device.get('devccode')%></p>
            <p>添加时间：<%= device.get('crettime')%></p>
            <p>地段：<%= device.get('section')%></p>
            <p>位置：<%= device.get('location')%></p>
            <p>建筑分类：<%= device.get('cnsntype')%></p>
            <p>软件版本：<%= device.get('swversion')%></p>
            <p>硬件版本：<%= device.get('hwversion')%></p>
            <p>禁播类型：<%= device.get('frbdads')%></p>
            <p>禁播例外：<%= device.get('excncorps')%></p>
            <p>价格等级：<%= device.get('preprice')%></p>
            <p>复位层：<%= device.get('restfloor')%></p>
            <p>无挡片楼层：<%= device.get('nomaskfloor')%></p>
            <input type="hidden" value="<%= device.get('id')%>" id="idvalue"/>
        </div>
        <div style="margin-top:15px;width:49%;height:400px;float:left">
            <p style="text-indent:2em;font-weight:bold">广告数据</p>
            <p>广告一：<audio controls="controls"><source src="music.mp3" /></audio> </p>
        </div>
    </div>
</div>
<div class="row">
    	<a id="btn-back-case" class="btn btn-primary" href="#modal-set" role="button" data-toggle="modal">返回</a>
</div>