<!-- sidebar -->
<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav in" id="side-menu">
            <li class="sidebar-search">
                <div class="input-group custom-search-form">
                    <input type="text" class="form-control" placeholder="Search...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
                <!-- /input-group -->
            </li>
            <li>
                <a href="admin" data-toggle="page"><i class="fa fa-dashboard fa-fw"></i> 管理员主面板</a>
            </li>
            <li>
                <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> 用户管理<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse">
                    <li>
                        <a href="admin/league" data-toggle="page">加盟商管理</a>
                    </li>
                    <li>
                        <a href="admin/user" data-toggle="page">普通用户管理</a>
                    </li>
                    <li>
                        <a href="admin/subadmin" data-toggle="page">子管理员管理</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
            <li>
                <a href="admin/log" data-toggle="page"><i class="fa fa-table fa-fw"></i> 日志管理</a>
            </li>
            <li>
                <a href="admin/case" data-toggle="page"><i class="fa fa-table fa-fw"></i> 待审核设备</a>
            </li>
            <li>
                <a href="admin/device" data-toggle="page"><i class="fa fa-table fa-fw"></i> 管理设备</a>
            </li>
            <li>
                <a href="forms.html"><i class="fa fa-edit fa-fw"></i> 订单管理</a>
            </li>
            <li>
                <a href="#"><i class="fa fa-wrench fa-fw"></i> 权限管理<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse">
                    <li>
                        <a href="panels-wells.html">Panels and Wells</a>
                    </li>
                    <li>
                        <a href="grid.html">Grid</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="dictionary"  data-toggle="page"><i class="fa fa-sitemap fa-fw"></i> 数据字典管理</a>
            </li>
            <li>
                <a href="#"><i class="fa fa-files-o fa-fw"></i> Sample Pages<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse">
                    <li>
                        <a href="blank.html">Blank Page</a>
                    </li>
                    <li>
                        <a href="login.html">Login Page</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div>
<!-- /.navbar-static-side -->